<br /><br />
<h1>Cadastro</h1>

<!-- <div class="alert alert-danger" role="alert">{{msgReturn}}</div> -->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{msgReturn}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<br>
<br>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 col-md-offset-5">
    <div class="jumbotron">
      <form
        [formGroup]="cadastroForm"
        (ngSubmit)="postdata(cadastroForm)"
        autocomplete="off">

        <div class="form-group">
          <label for="CEP">CEP</label>
          <input
            type="number"
            name="cep"
            formControlName="cep"
            autocomplete="off"
            class="form-control input-sm"
            placeholder="Cep"
          />
        </div>
        <div class="form-group">
          <label for="Cidade">Cidade</label>
          <input
            type="text"
            name="city"
            formControlName="city"
            autocomplete="off"
            class="form-control input-sm"
            placeholder="Nome da Cidade"
          />
        </div>
        <br />
        <div class="row justify-content-evenly">
          <button type="submit" class="btn btn-primary pe-4 ps-4 col-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Salvar</button>
          <button type="submit" class="btn btn-primary pe-4 ps-4 col-4" (click)="backDashboard()">Voltar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


