<div class="text-center shadow-lg p-3 bg-dark bg-gradient text-light" id="header">
  <div class="imgBat" id="imgBat">
    <img
      src="./../assets/batkeaton.jpg"
      width="200px"
      height="200px"
      class="rounded-circle"
      alt="..."
    />
  </div>

  <div class="p-word">
    <p class="fs-3">Cadastro de CEP da cidade de Gotham City</p>
    <p class="fs-4">Aprovado pelo BatKeaton 🦇</p>
  </div>
</div>

<div class="text-light bg-warning bg-opacity-75">
  <nav class="navbar navbar-expand-sm">
    <div
      class="navbar-collapse"
      id="navbarsDefault">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link text-dark fs-5"
            *ngIf="loginbtn"
            routerLink="login"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <button
            type="button"
            *ngIf="logoutbtn"
            class="btn btn-block text-dark fs-5"
            (click)="logout()"
          >
            Sair
          </button>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark fs-5"
            *ngIf="loginbtn"
            routerLink="registration"
            routerLinkActive="active"
            >Cadastre-se</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
